{% extends "./layouts/layout.html" %}
{% load static %}
{% block title %}Inicio{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock styles %}
{% block content %}
    <h1 class="main__title">Bienvenido al gestor de base de datos del hospital</h1>
    
    <section class="section__container">
        <div class="section__item">
            <h2 class="section__title">Servicios</h2>
            <p class="section__description">Administra los servicios que ofrece el hospital</p>
            <a href="{% url 'servicio_list' %}" class="section__button">Ir a servicios</a>
        </div>
        <div class="section__item">
            <h2 class="section__title">Pacientes</h2>
            <p class="section__description">Administra los pacientes que están en el hospital</p>
            <a href="{% url 'paciente_list' %}" class="section__button">Ir a Pacientes</a>
        </div>
        <div class="section__item">
            <h2 class="section__title">Pagos</h2>
            <p class="section__description">Administra las transacciones del hospital</p>
            <a href="{% url 'pago_list' %}" class="section__button">Ir a Pagos</a>
        </div>
    </section>

{% endblock content %}
