:root {
    --primary-color: #82d5dd; /* Color primario */
    --secondary-color: #70c3cb; /* Color secundario */
    --accent-color: #5faeb6; /* Color de acento */
    --background-color: #f0f8fa; /* Color de fondo */
    --azul-miguelito: #0244c0;
    --text-color: #333333; /* Color de texto */
    --font-family: 'Roboto', sans-serif; /* Fuente de texto */
}

.main__title {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-family: var(--font-family);
    color: var(--azul-miguelito);
    font-weight: bold;
}

.section__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5rem;
}

.section__item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #333333;
    background-color: var(--background-color);
    width: 20rem;
}

.section__title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-family: var(--font-family);
    color: var(--azul-miguelito);
    font-weight: bold;
}

.section__description {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-family: var(--font-family);
    color: var(--text-color);
}

.section__button {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 1rem;
    font-family: var(--font-family);
    color: var(--background-color);
    background-color: var(--azul-miguelito);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.section__button:hover {
    background-color: var(--accent-color);
    transition: background-color 0.5s ease-in-out;
}

