/* /home/arturo/Documents/ESCOM/hospital_bd_escom/gestorHospital/static/servicio_list.css */
:root {
    --primary-color: #82d5dd; /* Color primario */
    --secondary-color: #70c3cb; /* Color secundario */
    --accent-color: #5faeb6; /* Color de acento */
    --background-color: #f0f8fa; /* Color de fondo */
    --text-color: #333333; /* Color de texto */
    --font-family: 'Roboto', sans-serif; /* Fuente de texto */
}

.servicios-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-color);
    text-align: center;
}

.servicio__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem;
}

.nuevo-servicio-link {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.nuevo-servicio-link:hover {
    background-color: var(--secondary-color);
}

.servicios-list {
    list-style-type: none;
    padding: 0;
}

.servicio-item {
    margin-bottom: .5rem;
    padding: .5rem;
    font-size: 1.5rem;
    border-bottom:1px solid #333333;
}

.editar-servicio-link,
.eliminar-servicio-link {
    margin-left: 10px;
    color: var(--primary-color);
    text-decoration: none;
}

.editar-servicio-link:hover,
.eliminar-servicio-link:hover {
    text-decoration: underline;
}